@import "tailwindcss";

@theme {
  --color-cobent-blue: #0c254a;
  --color-cobent-gold: #b8972a;
  --color-cobent-gray: #a4b1c0;
  --color-cobent-white: #ffffff;
  --color-cobent-surface: #f7f7f7;
  --color-cobent-gray-light: #d2deec;
  --color-cobent-gray-dark: #29384b;
  --color-cobent-gray-mid: #536174;
}